body {
    font-family: "Tajawal", sans-serif;
    background-color: #f4f4f4;
    direction: rtl;
    text-align: center;
}

.container {
    margin: 50px auto;
    width: 60%;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

textarea {
    width: 100%;
    height: 120px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #0f62fe;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0353e9;
}
